@import "variables.css";
@import "component.css";
@import "common.css";

/* ------- */
header{
    background-color: var(--ms-primary-color);
    color: white;
}
header .container{
    max-width: 1140px;
}
/* ------- */

/* Main */
/* Section: Profile */
section:nth-of-type(2n+1){
    background-color: var(--ms-secondary-color);
}
#profile{
    color: white;
    padding: 4.3125rem 0;
}
#profile .container{
    max-width: 620px;
}
.img-fluid{
    height: 18.75rem;
}
/* /Seciton: Profile */

/* Section: Portfolio */
#portfolio{
    margin: 90px 0;
}
#portfolio .container{
    max-width: 1140px;
}
#portfolio .ms-bars::after,
#portfolio .ms-bars::before
{
    background-color: black;
}
/* /Section: Portfolio */

/* Section: About */
#about{
    color: white;
    padding-top: 5.5rem;
    padding-bottom: 3.625rem;
}
#about .container{
    max-width: 990px;
}
/* /Section: About */

/* Section: Contact me */
#contact{
    margin-top: 5.625rem;
    margin-bottom: 3.75rem;
}
#contact .container{
    max-width: 650px;
}
#contact .ms-bars::after,
#contact .ms-bars::before{
    background-color: black;
}
/* /Section: Contact me */
/* -------- */

/* Footer */
footer{
    background-color: var(--ms-primary-light-color);
    color: white;
}
footer .container{
    max-width: 1140px;
}
#b-footer{
    background-color: var(--ms-primary-color);
}
/* /Footer */