:root{
    --bg-header: #2c3e50;
    --bg-section: #1abc9c;
    --bg-footer: #3a546d;
}
/* ------- */
header{
    background-color: var(--bg-header);
    color: white;
}
header .container{
    max-width: 1140px;
}
/* ------- */

/* Main */
/* Section: Profile */
section:nth-of-type(2n+1){
    background-color: var(--bg-section);
}
#profile{
    color: white;
    padding: 4.3125rem 0;
}
#profile .container{
    max-width: 620px;
}
/* /Seciton: Profile */

/* Section: Portfolio */
#portfolio{
    margin: 90px 0;
}
#portfolio .container{
    max-width: 1140px;
}
#portfolio .box{
    height: 360px;
}
.c-1{
    background-color: #ba4b63;
}
.c-2{
    background-color: #1ea4b6;
}
.c-3{
    background-color: #140f0f;
}
.c-4{
    background-color: #1c83c1;
}
.c-5{
    background-color: #0e38b5;
}
.c-6{
    background-color: #ccb2a3;
}
/* /Section: Portfolio */

/* Section: About */
#about{
    color: white;
    padding-top: 5.5rem;
    padding-bottom: 3.625rem;
}
#about .container{
    max-width: 990px;
}
/* /Section: About */

/* Section: Contact me */
#contact{
    margin-top: 5.625rem;
    margin-bottom: 3.75rem;
}
#contact .container{
    max-width: 650px;
}
/* /Section: Contact me */
/* -------- */

/* Footer */
footer{
    background-color: var(--bg-footer);
    color: white;
}
footer .container{
    max-width: 1140px;
}
#b-footer{
    background-color: var(--bg-header);
}
/* /Footer */